.input-window__container {
  padding-top: 5%;
}

.input-window {
    font-family: 'Roboto', sans-serif;
    margin: 0 30%;
    padding: 5%;
    border-radius: 10px;
    background: #f5f5f5;
    border-color: #a9a9a9;
    color: black;
    border-width: 5px;
    text-align: center;
  }
  
  @media (max-width: 1200px) {
    .input-window {
      margin: 0 15%;
    }
  }
  
  @media (max-width: 690px) {
    .input-window {
      margin: 0;
    }
  }
  
  form {
    padding: 0 5%;
  }
  
  .input-box {
    margin: 1.25rem 0;
    border-width: 0;
  }
  
  .input-button, .input-button:focus {
    background-color: #393E46;
    outline: 0 !important;
    color: white;
  }

  .input-button:hover {
    background-color: #222831;
  }

  .add-class-button {
    background-color: #3282B8;
    color: white;
  }

  .setup-button {
    display: flex;
    
  }

  .form-control {
    margin: 5% 0;
  }