.modal {
    display: initial;
    position: fixed;
    z-index: 4;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;

    overflow: auto;

    background-color: rgba(0, 0, 0, 0.4);
}

#modalBtn {
    border: none;
    background: transparent;
}

.modal__content {
    background-color: var(--bg-color);
    margin: 15% auto;
    border-radius: 15px;
    width: 80%;

    color: var(--black);
    overflow: hidden;
}

.modal__content>* {
    padding: 20px;
}

.modal__content>.header-text {
    background: var(--bg-emphasis);
    color: var(--bg-color);
}

.modal__guide {
    display: none;
}

.close {
    color: var(--bg-color);
    float: right;
    font-size: 30px;
    z-index: 5;
}

.close:hover,
.close:focus {
    color: var(black);
    text-decoration: none;
    cursor: pointer;
}