main {
    color: var(--bg-color);
}

.container-fluid {
    background-color: transparent;
}

.footer-wrapper {
    background-color: whitesmoke;
}

/* Widget Creator */

.widget-wrapper {
    display: flex;
    padding: 2.5% 5%;
    background-color: var(--bg-color);
    color: var(--blue);
    align-items: center;
    border-radius: 20px;
}

.symbol__plus {
    font-size: 48px;
}

.widget-wrapper>h2 {
    margin-left: auto;
}

.widget__collapse>button {
    display: block;
    border: none;
    background-color: var(--bg-color);
    padding: 1% 2.5%;
    margin: 1%;
    border-radius: 20px;
    color: var(--blue);
}

.row {
    justify-content: center;
}

.row>div {
    margin: 3%;
}

/* Planner */

.class-wrapper>h1 {
    padding: 1% 0;
    border-bottom: 3px solid var(--bg-color);
}

.assignment__grid {
    display: grid;
    grid-template-columns: repeat(4, 24.25%);
    grid-auto-rows: 25vh;
    grid-gap: 1%;
    overflow: auto;
}

@media (max-width: 1200px) {
    .assignment__grid {
        grid-template-columns: repeat(3, 32%);
    }
}

@media (max-width: 800px) {
    .assignment__grid {
        grid-template-columns: repeat(2, 48%)
    }
}

@media (max-width: 400px) {
    .assignment__grid {
        grid-template-columns: repeat(1, 98%)
    }
}

.assignment {
    background-color: var(--bg-color);
    overflow: auto;
    padding: 5%;
}

.assignment>.header-text {
    color: var(--blue);
}

.assignment>.class__content {
    background-color: gray;
    overflow-wrap: break-word;
}

/* Modal */

.btn__setup {
    margin: 2%;
    padding: 1% 2%;
    border: none;
    border-radius: 20px;

    background: var(--bg-emphasis);
    color: white;
}

/* Timer Module */

.timer__container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 200px;
    width: 200px;

    font-family: 'Poppins', sans-serif;
    font-weight: 700;
}

.timer__container--timer {
    background-color: var(--time-bg);
}

.timer__container--pomo {
    background-color: var(--time-pomo);
}

.timer {
    font-size: 2em;
}

.timer__buttons {
    display: grid;

    grid-template-columns: 50px 50px;
    grid-auto-rows: 45px;
    grid-gap: 10px;

    grid-template-areas:
        'start-stop control'
        'pomodoro pomodoro';
}

.timer__btn {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    border: none;
    border-bottom: 5px solid white;
    color: var(--bg-color);
}

.timer__btn:active {
    border: none;
    margin-top: 5px;
}

.timer__btn--start-stop {
    grid-area: start-stop;
}

.timer__btn--control {
    grid-area: control;
}

.timer__btn--pomo {
    grid-area: pomodoro;
}

.timer__btn--pomo>.header-text {
    font-size: 1em;
    margin: 0;
}

.timer__btn--start {
    background-color: var(--time-green);
    border-color: var(--time-green-dark);
}

.timer__btn--stop {
    background-color: var(--time-red);
    border-color: var(--time-red-dark);
}

.timer__btn--break {
    background-color: var(--time-lightblue);
    border-color: var(--time-lightblue-dark);
}

.timer__btn--reset {
    background-color: var(--time-purple);
    border-color: var(--time-purple-dark);
}

.timer__btn--work {
    color: var(--black);
    background-color: white;
    border-color: grey;
}

.timer__btn--pomodoro {
    background-color: var(--time-pomo);
    border-color: var(--time-pomo-dark);
}

.timer__btn--timer {
    background-color: var(--time-bg);
    border-color: var(--time-bg-dark);
}



/* Mindfulness Module */

.mindfulness__container {
    position: relative;
    text-align: center;
    overflow: hidden;

    height: 200px;
    width: 200px;

    background-color: var(--zen-green);

    font-family: "Amatic SC", sans-serif;
}

.mindfulness__frame {
    position: absolute;
    display: none;
    margin: auto;
    /* Adds space between words and the borders */
    z-index: 2;

    top: 50%;
    left: 0;
    right: 0;
    transform: translateY(-50%);
}

.mindfulness__frame>h2 {
    margin: 0;
}

.mindfulness__frame>span {
    font-size: 2em
}

.frame__start {
    border: none;
    padding: 5%;
    background-color: transparent;
}

.frame__breathe-in {
    color: white;
}

.frame__breathe-out {
    color: black;
}

.frame--active {
    display: initial;
    transition:
        transform 0.5s color 0.5s;
}

.frame__circle {
    top: 20%;
    bottom: 20%;
    right: 20%;
    left: 20%;
    transform: translateY(0%);

    background-color: var(--zen-blue);
    border-radius: 50%;
}

.frame__circle--breatheIn {
    display: initial;
    animation: breatheIn ease-in 7s;
}

.frame__circle--breatheOut {
    display: initial;
    animation: breatheOut ease-out 7s;
}

@keyframes breatheIn {
    from {
        transform: scale(1);
    }

    to {
        transform: scale(3);
    }
}

@keyframes breatheOut {
    from {
        transform: scale(3);
    }

    to {
        transform: scale(1);
    }
}

/* Todo Module */

.todo__container {
    height: 200px;
    width: 200px;
    padding: 1%;

    background-color: var(--todo-bg);
    overflow: auto;
}

.todo__header {
    display: flex;
    align-items: center;
}

.todo__wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.todo {
    word-wrap: break-word;
    padding: 3% 5%;
    background-color: var(--bg-color);
    margin: 2.5% 0;
    color: black;
    counter-increment: todo;

    border-radius: 5px;
}

.todo::before {
    font-weight: bold;
    content: counter(todo);
    float: right;
}

.todo--done {
    text-decoration: line-through;
}

.btn__add-todo {
    display: flex;

    border: none;
    padding: 5%;
    border-radius: 15%;
}