/* CSS HEX */
/* --midnight-blue: #03045eff;
--dark-cornflower-blue: #023e8aff;
--star-command-blue: #0077b6ff;
--blue-green: #0096c7ff;
--pacific-blue: #00b4d8ff;
--sky-blue-crayola: #48cae4ff;
--middle-blue: #90e0efff;
--blizzard-blue: #ade8f4ff;
--light-cyan: #caf0f8ff; */

body {
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

h1 {
  font-family: "Koulen", sans-serif;
  font-size: 5rem;
  font-weight: bold;
}

h2 {
  font-family: "Koulen", sans-serif;
  font-size: 3.5rem;
}

h3 {
  font-size: 1.5rem;
  font-weight: bold;
}

p {
  font-size: 1.5rem;
}

i {
  margin: 0 5px;
}

/* Navigation Bar */

.navbar {
  padding: 0;
  margin-bottom: 5%;
}

.nav-item > a {
  margin: 5px 5px;
  font-weight: bolder;
}

.brand-logo {
  font-size: 2.5rem;
  font-family: "Merriweather Sans", sans-serif;
}


/* Title Section */

@media (max-width: 990px){
  .title-column {
    text-align: center;
  }
}

#title {
  padding: 3% 7%;
  background-color: #48cae4ff;
}

.features {
  background-color: #F1EEE9;
}

.title-row > div {
  margin: 5px 0;
}

.title-button {
  margin: 20px 0;
}

/* Cards */

#assignmentMenu {
  padding: 3% 7%;
}

.card-box {
  margin: 5px 0;
}

.card-column {
  padding: 5px;
}

/* Input Pages */

.input-window {
  margin: 0 30%;
  padding: 30px;
  border-radius: 10px;
  background: #f5f5f5;
  border-color: #a9a9a9;
  border-width: 5px;
}

@media (max-width: 1200px) {
  .input-window {
    margin: 0 15%;
  }
}

@media (max-width: 690px) {
  .input-window {
    margin: 0;
  }
}

.input-window > form {
  padding: 0 20px;
}

.input-window > form > input {
  margin: 1.25rem 0;
}





/* Front Page */

#schoology {
  padding: 3% 7%;
  margin: 10px 0;
}

.schoology-image {
  max-width: 30%;
}

.row-steps > div > p {
  padding: 5px 70px;
}

@media (max-width: 900px) {
  .arrow-icon {
    --fa-rotate-angle: 90deg;


  }
}
