{% set is_logged_in = is_logged_in %}
{% extends "head.html" %}
{% block content %}

<title>Error 401</title>

<main>
    <!-- Unauthorized -->
    <div class="container__401 container-fluid">
        <img src="{{ url_for('static', filename='images/ERROR.png')}}" alt="Error">
        <h1 class="header-text">ERROR CODE 401</h1>
        <h2 class="body-text">Try <a href="{{ url_for('login') }}" style="color: black">logging in</a> before accessing
            this page.</h2>
    </div>
</main>

{% endblock %}