{% set is_logged_in = is_logged_in %}
{% extends "head.html" %}
{% block content %}

<title>About</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/about.css')}}">
<script src="{{ url_for('static', filename='js/about.js')}}" defer></script>

<main>
    <div class="container-fluid header-wrapper">
        <h1 class="spec-text">Our Story</h1>
    </div>

    <div class="container-fluid story-wrapper">
        <h2 class="header-text">Summer of 2022: IB Personal Project</h2>
        <h2 class="body-text">
            The personal project is a project that all IB rising sophmores are required to do over the summer.
            The goal of the project is to learn new skills and create something worthwhile with them.
            We decided to do a group project, with both of us learning different skills to fit the different jobs
            required for web development.
        </h2>
    </div>

    <div class="container-fluid context-wrapper">
        <h1 class="header-text">It all started with an idea.</h1>
        <h1 clas="body-text">An app that could display all of your Schoology assignments in one place.</h1>
    </div>

    <div class="container-fluid timeline-wrapper">
        <h1 class="header-text">31+ ONLINE MEETINGS</h1>
        <img src="{{ url_for('static', filename='images/image_timeline.png')}}" alt="Libello Timeline"
            draggable="false">
    </div>

    <div class="container-fluid about-wrapper">
        <h1 class="header-text">About</h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="person__container">
                    <h2 class="header-text">
                        Rutam
                    </h2>
                    <h2 class="body-text">
                        I am a 15 year old rising sophmore at Tucker High School. My job for the project was the
                        backend.Going into it, I had no backend or web development experience, and python was still
                        relatively new to me.
                    </h2>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="person__container">
                    <h2 class="header-text">
                        Jaewon
                    </h2>
                    <h2 class="body-text">
                        I’m a 15 year old rising sophmore at Tucker High School.
                        I work the frontend and I designed this website as well as created the widgets.
                        As a novice programmer, I’ve been able to learn a lot about web design and its functionalities.
                    </h2>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- Container-fluid -->
    </div>

    <div class="container-fluid about-wrapper">
        <h1 class="header-text">What We Learned</h1>

        <div class="row">
            <div class="col-lg-6">
                <div class="person__container">
                    <h2 class="header-text">
                        Rutam
                    </h2>
                    <h2 class="body-text">
                        By doing this project, I’ve learned a lot about python and the coding workflow. My job was to
                        create the system for making and managing users, which I did using a service called <a
                            href="auth0.com">Auth0</a> I
                        also hosted the website using <a href="heroku.com">Heroku</a>, and created the <a
                            href="https://flask.palletsprojects.com/en/2.2.x/">flask</a> server that Heroku is hosting.
                        I
                        learned a lot about apis and authentication during the project, and I used a module called
                        <a href="https://github.com/ErikBoesen/schoolopy">Schoolopy</a> to help with the <a
                            href="https://developers.schoology.com/api">schoology api.</a>
                    </h2>
                </div>
            </div>

            <div class="col-lg-6">
                <div class="person__container">
                    <h2 class="header-text">
                        Jaewon
                    </h2>
                    <h2 class="body-text">
                        I came into this project without much knowledge about any of the languages used for web design,
                        so approaching this was a big learning curve.
                        In doing this project I've gotten the hang of languages like CSS, HTML, Javascript, and
                        libraries like <a href="https://getbootstrap.com/">Boostrap 5</a> or
                        <a href="https://jquery.com/">jQuery.</a>
                        I've also been able to try functionalities like CSS keyframes and animations as well as
                        Javascript modules.
                        Overall, this is a good start to my web development journey.
                    </h2>
                </div>
            </div>
            <!-- Row -->
        </div>
        <!-- Container-fluid -->
    </div>

    <div class="container-fluid">
        <h1 class="header-text">This project is <a href="https://github.com/rutamt/Libello">open source</a>.</h1>
    </div>
</main>

{% endblock %}