<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <form action="{{ url_for('gfg')}}" method="post">
    <label for="key">First Name:</label>
    <input type="text" id="key" name="key" placeholder="key">
    <label for="secret">Last Name:</label>
    <input type="text" id="secret" name="secret" placeholder="secret">
        <input type="button" id='script' name="scriptbutton" value=" Run Script " onclick="goPython()">Submit</input>

        <a href="{{url_for('work')}}">Work</a>
    </form>

</body>
</html>