
{% extends "head.html" %}
{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">



<!-- Maybe COOOL Side bar here? -->

<main class="content">
    <!-- Title Section -->
    <div class="container-fluid title__container">
        <section id="title">
            <div class="title title__row row">
                <div class="title title__column title__column--words col-lg-6 col-sm-12">
                    <h1 class="title__text header-text header-text--title">organization starts </h1>
                    <h1 class="title__text header-text header-text--title title__text--here">here.</h1>
                    {% if not current_user.is_authenticated: %}
                    <a class="btn btn-dark get-started-button body-text" role="button" href="{{ url_for('register') }}">
                        Get started
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                    {% endif %}
                    {% if current_user.is_authenticated: %}
                    <a class="btn btn-dark get-started-button body-text" role="button" href="{{ url_for('work') }}">
                        Get started
                        <i class="fa-solid fa-arrow-right-long"></i>
                    </a>
                    {% endif %}
                </div>
                <div class="title title__column title__column--image col-lg-6 col-sm-12">
                    <img class="notebook-image" src="{{url_for('static', filename='images/notebook.png')}}"
                         alt="notebook">
                </div>
            </div>
        </section>
    </div>


    <!-- Demonstration Section -->
    <div class="container-fluid demo__container">
        <section id="demonstration">
            <div class="demo demo__main-container row">
                <div class="demo demo--header col-lg-4 col-sm-12">
                    <h1 class="header-text header-text--title">With Libello you can . . .</h1>
                </div>
                <div class="demo demo__row row col-lg-8 col-sm-12">
                    <div class="demo demo__column demo__column--schoology col-lg-4 col-sm-12">
                        <img src="{{url_for('static', filename='images/Schoology.png')}}" alt="Schoology"
                             class="demo__image demo__image--schoology">
                        <p class="demo__text body-text body-text--primary">Take your assignments from Schoology</p>
                    </div>
                    <div class="demo demo__column demo__column--arrow col-lg-4 col-sm-12">
                        <i class="demo__image demo__image--arrow fa-solid fa-arrow-right fa-rotate-by fa-9x"></i>
                        <p class="demo__text body-text body-text--primary">And with the Schoology API ...</p>
                    </div>
                    <div class="demo demo__column demo__column--folder col-lg-4 col-sm-12">
                        <i class="demo__image demo__image--folder fa-solid fa-folder-closed fa-10x"></i>
                        <p class="demo__text body-text body-text--primary">Display them in a neat planner!</p>
                    </div>
                </div>
            </div>
        </section>
    </div>

    <!-- Features -->

    <div class="container-fluid feature__container">
        <section id="features">
            <h1 class=" features features__header header-text header-text--primary">Features</h1>
            <div class="features features__row row">
                <div class="features features__column col-lg-4 col-sm-12">
                    <i class="features__image features__image--calendar fa-solid fa-calendar-days fa-9x"></i>
                    <h2 class="features__text header-text body-text--primary">Display due dates and time until
                        submission.</h2>
                </div>
                <div class="features features__column col-lg-4 col-sm-12">
                    <i class="features__image features__image--upload fa-solid fa-upload fa-9x"></i>
                    <h2 class="features__text header-text body-text--primary">Upload Schoology data via the Schoolopy
                        module.</h2>
                </div>
                <div class="features features__column col-lg-4 col-sm-12">
                    <i class="features__image features__image--folder-tree fa-solid fa-folder-tree fa-9x"></i>
                    <h2 class="features__text header-text body-text--primary">Organize the assignments into different
                        cards.</h2>
                </div>
            </div>
        </section>
    </div>
</main>

{% endblock %}
<!-- https://webdesign.tutsplus.com/tutorials/reading-progress-bar-css-javascript--cms-36635 -->
<!-- https://www.codeleaks.io/how-to-build-a-responsive-and-dynamic-progress-bar/ -->
<!-- https://www.freecodecamp.org/news/how-to-build-a-responsive-and-dynamic-progress-bar/ -->