{% set is_logged_in = is_logged_in %}
{% extends "head.html" %}
{% block content %}


<!-- Stuff that varies from page to page -->
<title>Libello</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/index.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}">
<script src="{{ url_for('static', filename='js/index.js')}}" defer></script>

<!-- Progress Bar -->
<div class="progress-container">
    <div class="progress-bar" id="myBar"></div>
</div>

<!-- Main Content -->
<main>
    <!-- Title Section -->
    <section id="title">
        <div class="title-wrapper container-fluid">
            <div class="row">
                <div class="title__content col-lg-6">
                    <h1 class="spec-text">Improve your performance in the workplace.</h1>
                    <h4 class="body-text">Organize your assignments using our systems, or cut off half the work by
                        directly uploading your schoology assignments.</h4>
                    <a href="{{ url_for('login') }}">
                        <button class="get-started-button header-text">Get Started</button>
                    </a>
                </div>
                <img class="title__image col-lg-6" draggable=false
                    src="{{ url_for('static', filename='images/clean_desk.jpg')}}" alt="clean_desk">
                <!-- Row -->
            </div>
            <!-- Title Wrapper -->
        </div>
    </section>

    <!-- Checklist Section -->
    <section id="checklist">
        <div class="checklist-wrapper container-fluid">
            <div class="row">
                <img class="checklist__image col-lg-4" draggable=false
                    src="{{ url_for('static', filename='images/todo.png')}}" alt="">

                <div class="checklist__content col-lg-4">
                    <h1 class="spec-text">The Better todo list.</h1>
                    <h4 class="body-text">Check on your assignments from Schoology.</h4>
                    <h4 class="header-text">View completion and due dates outside of Schoology.com as well as
                        assignments without due dates.</h4>
                </div>
                <!-- Row -->
            </div>
            <!-- Checklist Wrapper -->
        </div>
    </section>

    <!-- Features Section -->
    <section id="features">
        <div class="features-wrapper container-fluid">
            <div class="row">
                <div class="features__upload col-sm-4">
                    <span class="material-symbols-outlined icon__upload">cloud_upload</span>
                    <h2 class="emphasis-text">Upload</h2>
                    <h4 class="body-text">Schoology assignments via the Schoolopy Module.</h4>
                </div>
                <div class="features__schedule col-sm-4">
                    <span class="material-symbols-outlined icon__schedule">calendar_month</span>
                    <h2 class="emphasis-text">Schedule</h2>
                    <h4 class="body-text">View due dates and time until submission.</h4>
                </div>
                <div class="features__organize col-sm-4">
                    <span class="material-symbols-outlined icon__organize">inventory</span>
                    <h2 class="emphasis-text">Organize</h2>
                    <h4 class="body-text">Assignments can be fit into different classes.</h4>
                </div>
                <!-- Row -->
            </div>
            <!-- Features Wrapper -->
        </div>
    </section>

    <section id="demo">
        <div class="demo-wrapper container-fluid">
            <div class="row">
                <img class="demo__image col-lg-8" draggable=false
                    src="{{ url_for('static', filename='images/desk.jpg')}}" alt="desk">
                <div class="demo__content col-lg-4">
                    <h1 class="demo__text demo__text--1 emphasis-text">
                        Create a comfortable workspace.
                    </h1>
                    <h1 class="demo__text demo__text--2 emphasis-text">
                        Organize with Libello.
                    </h1>
                </div>
                <!-- Row -->
            </div>
            <!-- Demo Wrapper -->
        </div>
    </section>
</main>

{% endblock %}