{% extends "head.html" %}
{% block content %}


<main class="content">
    <div class="container-fluid input-window__container">
        <section id="login-window">
            <div class="input-window justify-content-center">
                <div class="header-text header-text--primary p-5 text-center">
                    <i class="fa-solid fa-align-right fa-sm"></i>Login
                </div>


                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color:red">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}


<!--                <form method="post" class="login__form">-->

<!--                    &lt;!&ndash; Email input &ndash;&gt;-->
<!--                    <input type="email" name="email" placeholder="Email" required="required" id="form2Example1"-->
<!--                           class="form-control input-box"/>-->

<!--                    &lt;!&ndash; Password input &ndash;&gt;-->
<!--                    <input type="password" name="password" placeholder="Password" required="required" id="form2Example2"-->
<!--                           class="form-control input-box"/>-->

<!--                    &lt;!&ndash; Submit button &ndash;&gt;-->
<!--                    <button type="submit" class="btn btn-primary btn-block mb-4">Sign in</button>-->

<!--                    &lt;!&ndash; Register buttons &ndash;&gt;-->
<!--                    <div class="text-center register-text">-->
<!--                        Not a member? <a href="{{url_for('register')}}">Register</a>-->
<!--                    </div>-->
<!--                </form>-->

            </div>
    </div>
    </section>
    </div>

</main>

{% endblock %}
<!-- Footer -->

<!-- https://webdesign.tutsplus.com/tutorials/reading-progress-bar-css-javascript--cms-36635 -->
<!-- https://www.codeleaks.io/how-to-build-a-responsive-and-dynamic-progress-bar/ -->
<!-- https://www.freecodecamp.org/news/how-to-build-a-responsive-and-dynamic-progress-bar/ -->