{% set is_logged_in = is_logged_in %}
{% extends "planner_head.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/planner.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}">

<script src="{{ url_for('static', filename='js/modal.js')}}" defer></script>
<script src="{{ url_for('static', filename='js/widgets.js')}}" type="module" defer></script>


<main>

    <!-- https://www.youtube.com/watch?v=Xz-ApgT7rZc -->


    <div class="widget__bar">
        <div class="widget__extender">
            <span class="material-symbols-outlined widget" id="timerBtn" title="Timer">timer</span>
            <span class="material-symbols-outlined widget" id="mindfulnessBtn"
                title="Meditation/mindfulness">self_improvement</span>
            <span class="material-symbols-outlined widget" id="todoBtn" title="Todo list">checklist</span>
        </div>
    </div>
    <button class="widget__btn">
        <span class="material-symbols-outlined plus">add</span>
    </button>


    <!-- https://blog.hubspot.com/website/css-sidebar -->
    <div id="sideBar">
        <h2 class="sidebar__header header-text">
            Classes
            <span>
                <a href="{{ url_for('setup') }}"><span class="material-symbols-outlined add__class">edit</span></a>
            </span>


        </h2>
        <div id="classList">

            {% for classes in assignments: %}

            <a class="class__selector body-text" href="#{{loop.index}}">
                <span class="class_label">Class</span>
                <span class="class_number">{{loop.index}}</span>
            </a>

            {% endfor %}

        </div>
    </div>


    {% if not creds %}
    <!-- https://www.w3schools.com/howto/howto_css_modals.asp -->
    <div class="modal" id="modal">
        <div class="modal__content modal__tutorial">

            <h1 class="header-text">Warning</h1>
            <h2>You don't seem to have an api key or secret added to your account.</h2>
            <a href="{{url}}" target="_blank"><button class="btn__setup header-text">Add key and secret</button></a>

        </div>
    </div>

    {% elif not classes %}

    <div class="modal" id="modal">
        <div class="modal__content modal__tutorial">

            <h1 class="header-text">Warning</h1>
            <h2>You don't seem to have any classes added to your account. Please add classes to your planner.</h2>
            <a href="{{ url_for('setup') }}"><button class="btn__setup header-text">Setup Classes</button></a>

        </div>
    </div>

    {% else %}




    <div id="classContent">

        <div class="content__header">
            <h1><span class="header-text">Hello {{name}}, it is <span id="dateTime"></span>.</span></h1>

            <h5 class="body-text "> Click one of the classes on the side to view them!</h5>
        </div>

        {% for classes in assignments: %}

        <div class="class-wrapper" id="{{loop.index}}">
            <!-- <h3 class="class__title header-text">Class
                {{loop.index}}</h3> -->
            <h3 class="class__title header-text">Class
                {{loop.index}}</h3>

            <!-- https://www.youtube.com/watch?v=9zBsdzdE4sM -->
            <div class="assignment__grid">

                {% for title in classes %}

                <div class="assignment">

                    <h4 class="header-text">{{title['title']}}</h4>
                    <h6 class="body-text">
                        {% if title['due'] == "" %}
                        <h4 class='boxed' style="color:red">No due date</h4>
                        {% else %}
                        <h5 class='boxed' style="color:green">Due: {{title['due']}}</h5>
                        {% endif %}
                        <h5>
                            <a href="{{title['web_url']}}" class='boxed' style="color:#023E8A">Link</a>
                        </h5>
                    </h6>

                    <!-- Assignment -->
                </div>
                {% endfor %}
                <!-- Assignment Grid -->
            </div>
            <!-- Class Wrapper -->
        </div>

        {% endfor %}
        {% endif %}



</main>

{% endblock %}