{% set is_logged_in = is_logged_in %}
{% extends "head.html" %}
{% block content %}

<title>Planner</title>
<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/planner.css')}}">

<script src="{{ url_for('static', filename='js/modal.js')}}" defer></script>
<script src="{{ url_for('static', filename='js/widgets.js')}}" type="module" defer></script>

<!-- Main Content -->
<main>


    <!-- Header -->
    <div class="header-wrapper container-fluid">
        <h1 class="header-text">Hello {{name}}, it is {{time}}. </h1>
    </div>
    <!-- Header -->


    <!-- Widget Container -->
    <div class="container-fluid">

        <div class="widget__bar">
            <div class="widget-wrapper" data-bs-toggle="collapse" data-bs-target="#widgetDropdown" role="button"
                aria-expanded="false" aria-controls="widgets">
                <span class="symbol__plus material-symbols-outlined">add</span>
                <h2 class="header-text">
                    Add Widget
                </h2>
            </div>

            <div class="widget__collapse collapse" id="widgetDropdown">
                <button>
                    <h3 class="header-text" id="timerBtn">Timer</h3>
                </button>
                <button>
                    <h3 class="header-text" id="mindfulnessBtn">Mindfulness</h3>
                </button>
                <button>
                    <h3 class="header-text" id="todoBtn">To Do</h3>
                </button>
            </div>
            <!-- Widget Bar -->
        </div>
        <!-- Container-fluid -->
    </div>

    <div class="container-fluid row" id="widgetBar">
        <!-- Its The Thought That Matters ;) -->
    </div>

    <!-- Modal Ask Classes -->

    {% if not creds %}

    <div class="modal" id="modal">
        <div class="modal__content modal__tutorial">

            <h2 class="header-text">Warning</h2>
            <h1>You don't seem to have an api key or secret added to your account.</h1>
            <a href="{{ url_for('register') }}"><button class="btn__setup header-text">Add key and
                    secret</button></a>

        </div>
    </div>

    {% elif not classes %}

    <div class="modal" id="modal">
        <div class="modal__content modal__tutorial">

            <h2 class="header-text">Warning</h2>
            <h1>You don't seem to have any classes added to your account. Please add classes to your planner.</h1>
            <a href="{{ url_for('setup') }}"><button class="btn__setup header-text">Setup Classes</button></a>

        </div>
    </div>

    {% else %}

    <!-- Modal Ask Classes -->

    <!-- PLANNER -->

    <div class="planner-wrapper container-fluid">

        {% for classes in assignments: %}

        <div class="class-wrapper">

            <h1 class="header-text">Class
                {{loop.index}}</h1>

            <div class="assignment__grid">
                {% for title in classes %}

                <div class="assignment">
                    <h4 class="header-text">{{title['title']}}</h4>

                    <div class="class__content">
                        {% if title['due'] == "" %}
                        <h3 class='boxed' style="color:red">No due date</h3>
                        {% else %}
                        <h3 class='boxed' style="color:green">Due: {{title['due']}}</h3>
                        {% endif %}
                        <h3>
                            <a href={{title['web_url']}} class='boxed' style="color:#023E8A">Link</a>
                        </h3>
                        {% if title['completed'] == 1 %}
                        <h3 class='boxed' style="color:green">Completed</h3>
                        {% elif title['completed'] == 0 %}
                        <h3 class='boxed' style="color:red">Incomplete</h3>
                        {% endif %}
                    </div>
                </div>

                {% endfor %}
            </div>
            <!-- Class Wrapper -->
        </div>

        {% endfor %}
        {% endif %}







        <!-- PLANNER -->
</main>

{% endblock %}