{% extends "head.html" %}
{% block content %}


<main class="content">
<div class="container-fluid input-window__container">
  <section class="input-window--login">
    <div class="input-window justify-content-center">

      <div class="header-text header-text--primary p-5 text-center">
        <i class="fa-solid fa-align-right fa-sm"></i>Setup
      </div>

       {% with messages = get_flashed_messages() %}
      {% if messages %}
        {% for message in messages %}
         <p style="color:red">{{ message }}</p>
        {% endfor %}
      {% endif %}
    {% endwith %}

      <form action="{{ url_for('register') }}" method="post">

        <!-- API Key Input -->
        <input type="text" name="key" placeholder="API Key" required="required" id="form1Example1" class="form-control" />

        <!-- API Secret Input -->
        <input type="text" name="secret" placeholder="API Secret" required="required" id="form1Example1" class="form-control" />

        <!-- Submit button -->
        <button type="submit" class="btn btn-primary mb-4">Register</button>

      </form>

    </div>
  </div>
  </section>
</div>

</main>

{% endblock %}



<!-- https://webdesign.tutsplus.com/tutorials/reading-progress-bar-css-javascript--cms-36635 -->
<!-- https://www.codeleaks.io/how-to-build-a-responsive-and-dynamic-progress-bar/ -->
<!-- https://www.freecodecamp.org/news/how-to-build-a-responsive-and-dynamic-progress-bar/ -->