{% set is_logged_in = is_logged_in %}
{% extends "head.html" %}
{% block content %}

<main class="content">
    <div class="container-fluid input-window__container">
        <section class="input-window--login">
            <div class="input-window justify-content-center">

                <div class="header-text header-text--primary p-5 text-center">
                    Set Classes <i class="fa-solid fa-align-left"></i>
                </div>

                <p class="header-text">Type the IDs of the classes you have.</p>

                {% with messages = get_flashed_messages() %}
                {% if messages %}
                {% for message in messages %}
                <p style="color:red">{{ message }}</p>
                {% endfor %}
                {% endif %}
                {% endwith %}

                {% if not classes %}
                <button class="btn add-class-button" onclick="addParameter()"><i class="fa-solid fa-plus"></i>
                </button>
                <button class="btn add-class-button" onclick="removeParameter()"><i class="fa-solid fa-minus"></i>
                </button>
                <form action="{{ url_for('setup') }}" method="post" id="setup">
                    <div class="input__wrapper">
                        <input type='number' name='classes' placeholder='Type in class ID' id='class_input'
                            required="required" class='form-control'
                            onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" />
                    </div>
                    <input type="submit" class="btn add-class-button">
                </form>
                {% else %}
                <button class="btn add-class-button" onclick="addParameter()"><i class="fa-solid fa-plus"></i>
                </button>
                <button class="btn add-class-button" onclick="removeParameter()"><i class="fa-solid fa-minus"></i>
                </button>
                <form action="{{ url_for('setup') }}" method="post" id="setup">
                    <div class="input__wrapper">
                        {% for class in classes %}
                        <input type='number' name='classes' placeholder='Type in class ID' required="required"
                            value={{class}} id='class_input' class='form-control'
                            onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'" />
                        {% endfor %}
                    </div>
                    <input type="submit" class="btn add-class-button">
                </form>
                {% endif %}

            </div>
    </div>
    </section>
    </div>

</main>

<!-- Footer -->



<script>
    const form = document.querySelector(".input__wrapper");
    let interval = 1

    function addParameter() {
        interval++
        var input = document.createElement('input');
        let result =
            `<input type='number' name='classes' placeholder='Type in Class ID' required='required' id='class_input' class='form-control' onkeydown="javascript: return ['Backspace','Delete','ArrowLeft','ArrowRight'].includes(event.code) ? true : !isNaN(Number(event.key)) && event.code!=='Space'"/>`;
        input.innerHTML = result;
        var child = input.firstChild;
        form.appendChild(child);
    }

    function removeParameter() {
        if (interval > 0) {
            form.removeChild(form.lastElementChild)
            interval--
        }
    }


</script>

{% endblock %}

<!-- https://webdesign.tutsplus.com/tutorials/reading-progress-bar-css-javascript--cms-36635 -->
<!-- https://www.codeleaks.io/how-to-build-a-responsive-and-dynamic-progress-bar/ -->
<!-- https://www.freecodecamp.org/news/how-to-build-a-responsive-and-dynamic-progress-bar/ -->