{% set is_logged_in = is_logged_in %}
{% extends "head.html" %}
{% block content %}

<link rel="stylesheet" href="{{ url_for('static', filename='css/modal.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename='css/setup-register.css')}}">
<script src="{{ url_for('static', filename='js/modal.js')}}" defer></script>
<script src="{{ url_for('static', filename='js/setup.js')}}" defer></script>


<!-- Main Content -->
<main>


    {% with messages = get_flashed_messages() %}
    {% if messages %}

    <div class="modal" id="modal">
        <div class="modal__content modal__error">
            <span class="close material-symbols-outlined">close</span>
            <h1 class="header-text">ERROR</h1>
            {% for message in messages %}
            <h2 class="emphasis-text">{{message}}</h2>
            {% endfor %}

        </div>
    </div>
    {% endif %}
    {% endwith %}


    <div class="container-fluid input-window__container">
        <div class="input-window">

            <h1 class="emphasis-text p-5">Set Classes</h1>

            <img class="guide" src="{{ url_for('static', filename='images/class_id.JPG')}}" alt="ClassId">

            <p class="header-text p-3">
                Type the IDs of the classes you have.
                <span class="guide__Btn material-symbols-outlined">help</span>
            </p>

            <button class="btn__control btn__control--add">
                <span class="material-symbols-outlined">
                    add
                </span>
            </button>

            <button class="btn__control btn__control--remove">
                <span class="material-symbols-outlined">
                    remove
                </span>
            </button>

            {% if not classes %}
            <form action="{{ url_for('setup') }}" method="post" id="setup" autocomplete="off">
                <div class="input__wrapper">
                    <input type='number' name='classes' placeholder='Type in Class ID' required='required'
                        class='form-control' />
                </div>

                <button type="submit" class="btn__control btn__control--submit">Submit</button>
            </form>
            {% else %}

            <form action="{{ url_for('setup') }}" method="post" id="setup">
                <div class="input__wrapper">
                    {% for class in classes %}
                    <input type='number' name='classes' placeholder='Type in class ID' required="required"
                        value={{class}} id='class_input' class='form-control' />
                    {% endfor %}
                </div>
                <button type="submit" class="btn__control btn__control--submit">Submit</button>
            </form>
            {% endif %}

            <!-- Input Window -->
        </div>
        <!-- Input Window Container -->
    </div>

</main>

{% endblock %}